# This workflow will install Python dependencies, run tests and lint.
# For more information see: https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-python

name: Test Python application

on:
   workflow_call:
    inputs:
      project:
        description: "Project name"
        required: true
        type: string
      python-version:
        description: "Python version"
        default: "3.12"
        type: string


permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        # Test all supported Python versions under Ubuntu
        os: [ubuntu-latest]
        python-version: [ "${{ inputs.python-version }}" ]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dev_requirements.txt

    - name: Lint with ruff
      uses: astral-sh/ruff-action@v2
      with:
        src: ${{ inputs.project }}
        args: "check --output-format=github"
      # run: |
      #   # stop the build if there are Python syntax errors or undefined names
      #   ruff check --select=E9,F63,F7,F82 ${{ inputs.project }}
      #   # exit-zero treats all errors as warnings
      #   ruff check --statistics ${{ inputs.project }}

    - name: Install project
      run: |
        pip install -e ${{ inputs.project }}

    - name: Run tests
      working-directory: ${{ inputs.project }}/
      run: |
        pytest tests/
